@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* background-color:#fccc45; Yello*/
/* background-color: #003b91; Blue */
/* background-color:lightgreen; */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

.header {
  width: 100%;
  height: 8rem;
  background-color: #fccc45;
  color: white;
  /* opacity: .9; */
  /* z-index: 3;   */
}

.header-main {
  width: 100%;
  padding: 0 5%;
  position: fixed;
  background-color: #003b91;
  color: white;
  z-index: 1;
}

.nav-bar-top {
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.header-link {
  color: white;
  text-decoration: none;
  font-size: 1.3VW;
}

.header-link:hover {
  color: black;
}

.header-logo {
  color: greenyellow;
}

.header-logo-span {
  color: #fccc45;
}

.logo>li {
  list-style-type: none;
}

.logo>li:hover {
  background-color: lightgreen;
  /* color: black; */
}

.nav-main-bar {
  width: 30%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: .3rem;
  /* column-gap: 1rem; */

}

.nav-main-bar>li {
  /* width: 8%; */
  list-style-type: none;
}

.nav-main-linkdiv {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;

}

.nav-main-linkdiv>li {
  list-style-type: none;
}



.logo {
  font-size: 1.5rem;
}

.nav-icon {
  background-color: lightgreen;
  width: 15%;
}

.nav-bar-list {
  /* margin-right: 5%; */
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-bar-list>li {
  font-size: 1.3rem;
  font-weight: 300;
}

.nav-bar-list>li:hover {
  background-color: lightgreen;

}

/* Burger bar*/
.nav-toggle {
  padding: .3rem;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  display: none;

}

.burger-bar {
  padding: .1rem;
  margin: .1rem;
  width: 1.5rem;
  background-color: whitesmoke;
}

/* .login {
  width: 3%;
} */

.banner {
  margin: 0 0 2rem 0;
  width: 100%;
  /* background-color: Green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.banner-firm {
  width: 90%;
  position: relative;
  margin-bottom: 3rem;
}

.banner.div {
  width: 200%;
  background-color: red;
  padding: 20px;

}

.banner-pre-next {
  width: 200%;
  background-color: green;
  padding: 20px;
}

.banner-slid {
  width: 100%;
}

.banner-slid>h3 {
  width: max-content;
  background-color: lightgreen;
  color: blue;
  font-size: 1.3rem;
}


.btnicon {
  padding: .7rem;
  background-color: rgba(119, 10, 10, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.button-pre-next {
  width: 100%;
  padding: 10px 10px;
  position: absolute;
  top: 35%;
  background-color: rgb(109, 128, 0);
  color: black;
  display: flex;
  justify-content: space-between;
}

.btnicon:hover {
  background-color: rgba(0, 0, 0, 1);
}

.banner-image {
  width: 100%;
  height: 450px;
}



.icon-pre-next {
  font-size: 2rem;
  /* font-weight: 500; */
  color: white;
}

.image-title {
  font-size: 1.5rem;
  width: max-content;
  background-color: rgb(212, 222, 212);
  display: flex;
}

/* .image-title:hover {
  transform: scale(1.1);
} */

/* Torus and Trekking Middle Bar */
.middlebar-section {

  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.middlebar {
  margin: 0 4rem 0 2rem;
  width: 100%;
  /* background-color: lightgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.tours-title,
.treking-title,
.booking {
  padding: .5rem;
  background-color: lightgreen;
  border: 1px solid lightgreen;
  border-radius: .5rem;
}

.middle-link {
  text-decoration: none;
}

/* .middlebtn:hover,
.middlebtn:active {
  background-color: rosybrown;
} */


/* Treking */
.tours {
  padding: 0 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(239, 236, 236); */

}

.readmore {
  color: lightcoral;
}

.treking-main {
  padding: 0 5%;
  width: 100%;
  /* background-color: greenyellow; */
}

.treking-main>h3 {
  width: max-content;
  /* margin-left: 1%; */
  background-color: lightgreen;
  color: royalblue;
  font-size: 1.3rem;
}

.treking {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: rgb(239, 236, 236); */
  position: relative;
}

.treking-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-pre-next-treking {
  padding: 0 1rem 0;
  width: 99%;
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: space-between;
}

.btnicon {
  width: 3rem;
  text-align: center;
  font-size: 2rem;
  color: aliceblue;
}


.tourpackage {
  width: 23%;
  border: 1px solid rgb(215, 211, 207);
  border-radius: .5rem;
}

.trekingpakage {
  padding: .5rem;
  width: 23%;
  border: 1px solid rgb(215, 211, 207);
  border-radius: .5rem;
  /* background-color: green; */
  cursor: pointer;
}

.treking-image-div {
  /* display: flex;
  justify-content: center; */
}

.treking-image,
.tour-image {
  width: 100%;

}

/* .treking-image:hover{
  transform: scale(1.3);
} */



/* Booking Component */

.booking-main {
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 3rem;
  background-color: rgb(196, 222, 196);
}

.slider-bar {
  display: flex;
  justify-content: center;
}

.main-slider {
  margin-left: 3rem;
  width: 90%;
  background-color: lightgray;


  flex-direction: column;
  margin-bottom: 2rem;

}

.slider {

  background-color: greenyellow;
  padding: 3rem;
}

.statevariable {
  padding: 3rem;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
}

.country {
  background-color: lightgreen;
  border: 1px solid green;
}

/* About US */
.aboutus-header {
  padding: 1rem 10%;
  /* background-color: #a0f2de; */
}

.aboutus-section {
  margin-bottom: 1rem;
  background-color: whitesmoke;
  border: 2px soled lightgray;
  border-radius: 1.1rem;
}

.aboutus-section>h3 {
  font-size: 1.5rem;
  padding: .5rem 0;
}

.aboutus-section>p {
  padding-left: 1rem;
  font-size: 1.1rem;
}

.aboutus-detail {
  padding: .5rem 0;
}

.aboutus-detail>ul {
  padding: 0 .5rem;
}

/* Services */
.services-header {
  padding: 1rem 10%;

}

.services-section {
  margin-bottom: 1.5rem;
  background-color: whitesmoke;
  border: 2px soled lightgray;
  border-radius: 1.1rem;

}

.services-section>h3 {
  font-size: 1.5rem;
  padding: .5rem 0;

}

.services-section>p {
  padding-left: 1rem;
  font-size: 1.1rem;
}

.services-section>p>ul>li {
  padding: .3rem;
}



/* Trip Information */
.tripinfo-section {
  width: 100%;
  background-color: yellow;
}

.tripinfo {
  padding: .5rem 1%;
  background-color: lightcyan;
  border: 1px solid lightgray;
  border-radius: .3rem;
  background-color: greenyellow;
}

.tripinfo-title>h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: black;
  font-weight: 600;
}

.tripinfo-title>h5 {
  font-size: 1rem;

}

.tripinfo-title>ul {
  padding: .5rem 1rem;
}

.tripinfo-list {
  padding: .5rem 5%;
  background-color: lightgray;
}

.tripinfo-list-ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.tripinfo-list-link {
  padding: .5rem;
  font-size: 1.2rem;
  font-weight: 500;
  width: max-content;
  text-decoration: none;
  /* background-color: green; */
  border: 1px solid rgb(170, 157, 157);
  border-radius: .5rem;


}

.tripinfo-list-link:hover {
  background-color: black;
  transition: 1s;
  color: wheat;
  font-size: 1.3rem;

}


/* OverView  */
.overview-section {
  padding: .5rem 1%;
  border-radius: .3rem;
}

.overview-title {
  padding: .5rem;
  background-color: white;
}

/* Itinerary */

.itinerary-section {
  padding: .5rem;

  border-radius: .3rem;
  background-color: white;
}

.itinerary {
  margin-bottom: .5rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.itinerary>h1 {
  padding: .2rem;
  font-size: 1.2rem;
  width: max-content;
  background-color: #003b91;
  border: 1px solid lightblue;
  color: white;
  border-radius: .3rem;
}

.itinerary-detail {
  padding: .5rem;
  background-color: whitesmoke;
  border: .5px solid lightgray;
  border-radius: .3rem;
}

/* Cost */
.cost-section {
  padding: .5rem 1%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: .3rem;
}

.table {
  width: 100%;
  /* background-color: lightpink; */
  border-collapse: collapse;
}

.table-header>th {
  background-color: lightgray;
}

th,
td {
  padding: .5rem;
  background-color: whitesmoke;
  border: 1px solid gray;
  text-align: left;
}

.price-includes,
.price-excludes {
  padding: .5rem;
}

.price-includes>h3,
.price-excludes>h3 {
  padding: .5rem 0;
}

.price-includes-li,
.price-excludes-li {
  list-style-type: none;
  padding: .3rem 0 0;
}

/* State Variable test */

.select-div {
  padding: 1rem 5%;
  width: 20%;
  background-color: green;
  cursor: pointer;
}

.select-image {
  width: 100%;
}

Itinerary Data Display .tripinfo-dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}



/* Trekking Section Start Here */
.trek-header {
  padding: 1rem 0;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;

}

.trek-header-section {
  padding: 3%;
  width: 100VW;
  /* background-color: red; */
  display: flex;
  justify-content: center;

}

.trek-main {
  width: 85%;
  /* background-color: gray; */
}

.trek-title {
  font-size: .8rem;
  /* background-color:  #003b91; */
  /* background-color: #ff7f35; */
}

.trek-tilte-fontpage {
  background-color: #fccc45;
}

.trek-image {
  width: 100%;
}

.trek-image-banner {
  width: 100%;
  height: 25rem;
}

.trek-itinerary {
  /* padding: .5rem .5rem; */
  width: 100%;
  /* background-color: gray; */
}

.trek-itinerary-dashboard {
  padding: 0 .5rem;
  width: 100%;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.trek-dashboard-box {
  width: 20%;
  /* background-color: gray; */
  display: flex;
  column-gap: .5rem;
  align-items: center;
  padding: .5rem 0;
}

.trek-highlight {
  padding: .5rem 0;
  width: 100%;

}

.trek-highlight>ul>h3 {
  padding-bottom: .5rem;
}

.trek-highlight>ul>li {
  padding-left: 1%;
  list-style-type: none;

}

.trek-list-ul {
  width: 100%;
  background-color: #003b91;
  display: flex;
  justify-content: space-around;
}

.trek-list-ul>li {
  list-style-type: none;
  font-size: 1.5rem;
  cursor: pointer;

}

.trek-list-link {
  color: white;
  text-decoration: none;

}

.trek-list-ul>li:hover {
  background-color: lightgreen;

}

.outlet {
  padding: .5rem;
  width: 100%;
  background-color: #fccc45;
}


/* Trek Banner Right Side */

.trek-banner-rightside {
  margin-top: 1.8rem;
  width: 15%;
}

.trek-banner-rightside-frontpage {
  margin-top: 0;
}

.trek-banner-rightside-main {
  background-color: whitesmoke;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: .3rem;
}

.trek-banner-rightside-main>h4 {
  padding-bottom: 1rem;
}

.trek-banner-rightside-image {
  height: 30%;
}

.trek-banner-rightside-bookingimage {
  width: 100%;
}

.banner-booknow {
  padding: .3rem .7rem;
  margin: .5rem 0;
  border-radius: .3rem;
  background-color: yellowgreen;
}

/* .banner-booknow:hover {
  background-color: skyblue;
} */


/* Booking Form */

.bookingform-section {
  padding: .3rem 3%;
  width: 100%;
}

.bookingform-main {
  width: 70%;
}
.bookingform-main>h1{
  font-size: 2.5VW;
  font-weight: 500;
}

.bookingform-title {
  padding: .3rem .5rem;
  background-color: rgba(0, 255, 0, .7);
}

.bookingform-data {
  padding: 0 .5rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;

}

.tripform {
  display: flex;
  flex-direction: column;
}

.formdivmargin {
  margin-top: .9rem;
}

.tripname {
  font-size: .9rem;
}

.inputheight {
  height: 1.9rem;
  text-indent: .2rem;
  border: 1px solid black;
  border-radius: .3rem;
}

.nameaddressphone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.commonNEP {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.form-common-font {
  /* background-color: green; */
  font-size: 1.2VW;
}

.arrivaldeparture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commonAD {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.nationality {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.additionalrequirement {
  margin-bottom: .3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textareaAR {
  font-size: 1rem;
  padding: .3rem;
}

.form-btn {
  font-size: 1rem;
  width: max-content;
  padding: .3rem .5rem;
  background-color: green;
  border: 1px solid gray;
  border-radius: .5rem;
}

.form-btn {
  background-color: skyblue;
}

/* Contact */
.contact-section {
  padding: 0 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

}

.contact-main {
  width: 70%;
  margin-bottom: 1rem;


}

.contact-data {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;



}

.contact-commondiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

.contactNEP {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.contact-input-common {
  height: 1.9rem;
  text-indent: .3rem;

}



/* _________________________________________________ */

/* Test React section- */

.useeffect-header {

  padding: .3rem 3%;
  width: 100%;
  background-color: lightgreen;

}

.product {
  padding: 1rem 2rem;
  width: max-content;
  margin: 5px;
  background-color: yellowgreen;
}

/* Callback Section */
.callback-header {
  padding: .3rem 3%;
  margin: 1rem 0;
  width: 100%;
  background-color: lightgreen;
}

/* Registration */

.registration-header {
  width: 100%;
  /* background-color:lightgreen; */

}

.registration-section {
  width: 100%;
  height: 100vh;
  padding: .5rem 3%;
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* align-items: flex-start; */

}

.registration-form {
  padding: 5rem .5rem;
  width: 20%;
  /* height: 20rem; */
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  background-color: #003b91;
  color: whitesmoke;
  border: 1px solid gray;
  border-radius: 1rem;
}
.registration-form>h1{
  font-size: 1.5VW;
  font-weight: 500;
}
.registration-form>p, .registration-form>p>link{
  font-size: 1VW;
  font-weight: 300;

}

.input-form {
  height: 2rem;
  border: 1px solid black;
  border-radius: .5rem;
}

.registration-link {
  color: lightgoldenrodyellow;
  text-decoration: none;
}

.registration-btn {
  width: max-content;
  padding: .3rem .5rem;
  background-color: royalblue;
  border: 1px solid royalblue;
  border-radius: .3rem;
  font-size: 1.3VW;
  color: white;

}

/* Footer Section */
.footer-header {
  padding: .5rem 0;
  width: 100%;
  background-color: #003b95;
  ;
  position: relative;
  bottom: 0;
}

.footer-section {
  /* background-color: red; */
}

.footer-banner {
  padding: .5rem 5%;
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-body {

  color: whitesmoke;
  /* width: 25%; */
}

.footer-body>h3 {
  padding-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.footer-common-div {

  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.footer-common-div>li {
  list-style-type: none;
}

.footer-common-div>h3 {
  font-size: 1rem;
  color: whitesmoke;

}

.footer-link {
  font-size: 1rem;
  color: whitesmoke;
  text-decoration: none;
}

.footer-button {
  padding: .3rem 5%;
  background-color: #fccc45;
  ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* Why Choose Us */
.whychooseus-header {
  padding: .5rem 5%;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: .3rem;
}

.whychooseus-section>h2 {
  color: #003b91;
}

.whychooseus-header {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.whychooseus-body {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 1rem;
}

.whychooseus-body>h3 {
  font-size: 1.1rem;
}

/* background-color:#fccc45; Yello*/
/* background-color: #003b91; Blue */

/* Active  button*/
.active {
  background-color: lightgreen;
  color: black;
}

@media (max-width:600px) {
  * {
    font-family: "Ubuntu", sans-serif;
    font-weight: 250;
    font-style: normal;
  }


  .header {
    margin: 0;
    padding: 0;
    height: 11vh;
  }

  .header-main {
    height: 9vh;
    position: fixed;
  }

  .nav-bar-top {
    padding:0 5%;
    margin-top: 5px;
    padding-top: .3rem;
  }

  .nav-bar-list {

    margin-bottom: .1rem;
    display: none;
  }

  .header-link {
    width: fit-content;
    font-size: 2.9VW;
    display: flex;
    flex-wrap: wrap;
  }


  .nav-active {
    background-color: #261d07;
    width: max-content;
    display: flex;
    display: flex;
    flex-direction: column;
   row-gap: .3rem;
    position: fixed;
    top: 2.2rem;
    right: 10%;
    border: 1px solid black;
    border-radius: .5rem;
    color: #003b91;

  }

  .nav-toggle {
    padding: .3rem;
    background-color: green;
    display: flex;
  }

  .nav-main-bar {
    width: 50%;
    padding: 0 5%;
    padding-top: .3rem;
    padding-bottom: .3rem;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */

  }

  .nav-icon{
    width: 2VW;
    background-color: green;
  }
  .nav-main-linkdiv>h2{
    /* background-color: red; */
    font-size: 3VW;

  }

  .banner-image {
    height: 15vh;
  }

  .treking {
    position: relative;
    /* background: yellowgreen; */
  }

  .treking-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .trekingpakage {
    width: 45%;
  }

  .button-pre-next-treking {
    /* background-color: red; */
    display: flex;
    position: relative;
    position: absolute;
    top: 45%;
  }

  .btnicon:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  /* Trek Main Body */
  .trek-header,
  .trek-header-section {
    display: flex;
    flex-direction: column;
  }

  .trek-title>h1,
  .trek-itinerary>h2,
  .trek-highlight>ul>h3 {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .trek-itinerary-dashboard {
    width: 90VW;
    display: flex;
    column-gap: 1rem;
    row-gap: .1rem;
    flex-wrap: wrap;
  }

  .trek-dashboard-box {
    width: 40VW;
  }

  .trek-image-banner {

    height: 15VH;
  }


  .trek-tilte-fontpage,
  .trek-title {
    width: 90VW;
  }

  .trek-header-section {
    padding: 0;
    position: relative;
  }

  .trek-main,
  .trek-banner-rightside {
    padding: 0 5%;
    width: 100VW;

  }



  .trek-list-ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .trek-list-ul>li {
    font-size: 5VW;
  }

  .table {
    width: 83VW;
  }

  .table-header>th {
    font-size: 3VW;

  }

  .table-cell>td {
    font-size: 2.4VW;
  }

  /* Footer */
  .footer-header,
  .footer-banner {
    padding: .9VW;
  }

  .footer-body>h3 {
    font-size: 3.9VW;
  }

  .footer-common-div>h3,
  .footer-link {
    font-size: 3.5VW;
  }

  .footer-button>h4 {
    font-size: 3.6VW;
  }

  /* .bookingform-main{
    width: 100VW;
    padding: 0 5%;
    background-color: greenyellow;
   
  } */
  .bookingform-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .bookingform-main>h1{
    font-size: 4VW;
    font-weight: 500;
  
  }

  .form-common-font {
    font-size: 2.5VW;
    font-weight: 500;
  }

  /* Contact form */
  .contact-main {
    width: 100%;
  }

  .contact-data {
    width: 100%;
  }

  .contact-main>h1 {
    font-size: 4VW;
    font-weight: 500;
  }

  .contact-commondiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

  }

  .contactNEP {
    width: 100%;

    margin-bottom: .5rem;
  }
  .contact-common-font{
    font-size: 3.5VW;
    font-weight: 500;
  }

  /* Why Choose US */
  .whychooseus-body {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
  }

  /* Login */

  .registration-form {
    padding: 5rem .5rem;
    width: 70%;
    /* height: 20rem; */
    /* display: flex;
    flex-direction: column;
    row-gap: .5rem;
    background-color: #003b91;
    color: whitesmoke;
    border: 1px solid gray;
    border-radius: 1rem; */
  }
  .registration-form>h1{
    font-size: 3.5VW;
    font-weight: 500;
  }
  .registration-form>p, .registration-form>p>link{
    font-size: 2.9VW;
    font-weight: 300;
  
  }
 
  .registration-btn {
  
    font-size: 2.9VW;
    color: white;
  
  }
}